body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
}



.top-strip{
    background:#c79a41;
    padding:8px;
    text-align:center;
    font-size:14px;
    letter-spacing:2px;
}

/* NAVBAR */
header{
    width:100%;
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    position:fixed; /* FIXED NAV */
    top:0;
    left:0;
    z-index:9999; /* NAV ALWAYS ON TOP */
}

/* Cart Header */
.cart-header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
}

.cart-header h1 {
  font-size: 22px;
  margin: 0;
}

.cart-header .back {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

/* Main Cart Section */
.cart-container {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-top: 100px;
  z-index: 1;
}

.cart-items {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 120px;
  height: auto;
  border-radius: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price {
  font-weight: bold;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-box button {
  width: 30px;
  height: 30px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn {
  color: red;
  font-size: 14px;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
}

.checkout-btn:hover {
  opacity: 0.8;
}

/* MOBILE */
@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }
}
