/* Create Account Page Only */
.account-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: #000;
}

.box {
    width: 450px;
    padding: 40px;
    border-left: 1px solid #caa75b;
    border-right: 1px solid #caa75b;
    border-top: 1px solid #caa75b;
    border-bottom: 1px solid #caa75b;
    text-align: center;
}

.box h1 {
    color: #f5f1e9;
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-size: 35px;
}

.box form {
    text-align: left;
}

.box label {
    display: block;
    color: #e1d9c7;
    margin-bottom: 6px;
    font-size: 15px;
}

.box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background: #000;
    border: 1px solid #e1d9c7;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 15px;
    background: #caa75b;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.signin {
    display: block;
    margin-top: 18px;
    text-align: center;
    color: #e1d9c7;
    text-decoration: none;
}
